.row {
    display: flex;
}
.col_third {
    display: flex;
    flex: 40%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.col_twothird {
    display: flex;
    flex: 60%;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
}

#album-image {
    width: 400px;
    height: auto;
    box-shadow: -21px -19px 0px 0px rgba(217, 192, 226, 1);
    margin-bottom: 10px;
}

#image_fig {
    position: fixed;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#words {
    margin-top: 40px;
    overflow: scroll;
    width: 560px;
    transform: translate(25%, 0);
}

a:hover {
	transition: 0.3s;
	cursor: pointer;
	color: #f4cb42;
}

a {
	text-decoration: none;
    color: black;
}
h1 {
    font-family: baskerville-urw, serif;
    margin-top: 80px;
    margin-bottom: 10px;
    font-style: italic;
}
h2 {
    margin: 0px;
    padding: 0;
    font-family: baskerville-urw, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}
h3 {
    margin-bottom: 5px;
    padding: 0;
    font-family: baskerville-urw, serif;
    font-weight: 800;
    font-style: italic;
    font-size: 20;
}
h5 {
    margin-top: 3px;
    padding: 0;
    margin-bottom: 30px;
    font-family: input-serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #3d3d3d;
}
h6 {
    margin: 0;
    padding: 0;
    font-family: input-serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #3d3d3d;
}

p {
    font-family: 'Avenir', sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.05em;
    line-height: 1.5;
    margin-top: 10px;
}

#bottom_menu {
	position: fixed;
	bottom: 0;
	left: 15px;
}
#top-right-search {
    position: fixed;
    top: 5px;
    left: 30px;
    width: 45%;
    height: auto;
    margin-top: 10px;
}